body {
    background: #f2f2f2;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer {
    position:fixed;
    bottom:0;
    width:100%;
    background:#FEFEFE;
    border-top:1px solid #CCC;
    height:60px;
}

footer .pagination {
    margin:10px 0px;
}

footer .btn-group {
    margin:10px 10px;
}

input[type='checkbox'] {
    margin: 0px;
    padding:0px;
    border-radius: 5px;
    white-space: nowrap;
}

input.error {
	border: 1px solid #FF0000 !important;
}

label.error,div.error {
    font-weight: normal;
    color: #FF0000 !important;
}

#language-picker {
	background-image: url(../img/flags/fr.png);
	position: absolute;
	top: inherit;
	margin-left: 20px;
	margin-top: 9px;
	background-repeat: no-repeat;
	background-size: 29px 30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#language-picker > .language-selection {
}

#language-picker-content {
	display: none;
}

.language-selection {
	cursor: pointer;
}

.language-selection .select-lang {
	background-repeat: no-repeat;
	background-size: 27px 25px;
	padding-left: 35px;
	padding-top: 2px;
	padding-bottom: 6px;
	margin-bottom: 4px;
}

.language-selection .select-lang:hover {
	background-color: #f7f7f7;
}

.language-selection #select-fr {
	background-image: url(../img/flags/fr.png);
}

.language-selection #select-en {
	background-image: url(../img/flags/en.png);
}

.title {
	margin-left: 22px;
}

.not-found {
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/dickbutt.jpg);
	height: 250px;
	width: 250px;
	background-repeat: no-repeat;
	background-size: contain;
	margin-bottom: 20px;
}

.btn-log {
	position: absolute;
	right: 15px;
  	top: 8px;
}

.datepicker[readonly] {
	background-color: white;
}

.editMode {
	width : 70px;
}